/* Write your CSS here */
.image {
  height: 300px;
}
.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error {
  color: #616e7c;
  font-weight: bold;
}
.para {
  color: #dcdcdc;
  font-weight: bold;
  font-size: 25px;
}
